* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
    overflow-x: hidden;
}

.container {
    position: absolute;
    left: 40vw;
    top: 40vh;
    transform: translate(-50vh, -50vw);
    height: 15em;
    transform-style: preserve-3d;
    transform: perspective(1000px) rotateY(35deg);
}

.container div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    transform-style: preserve-3d;
}

.container div span {
    background-color: rgb(28, 92, 92);
    height: 50%;
    width: 3rem;
    position: relative;
    animation: animate 4.8s linear infinite;
    transition: all .8s;
}

.container:hover span {
    animation: colorChange 2s linear alternate infinite;
    animation-delay: 1s;
}

.container div span:nth-child(1) {
    animation-delay: 0s;
}

.container div span:nth-child(2) {
    animation-delay: 0.2s;
    background-color: rgb(112, 178, 178);
}

.container div span:nth-child(3) {
    animation-delay: 0.4s;
}

.container div span:nth-child(4) {
    animation-delay: 0.6s;
    background-color: rgb(112, 178, 178);
}

.container div span:nth-child(5) {
    animation-delay: 0.8s;
}

.container div span:nth-child(6) {
    animation-delay: 1s;
    background-color: rgb(112, 178, 178);
}

.container div span:nth-child(7) {
    animation-delay: 1.2s;
}

.container div span:nth-child(8) {
    animation-delay: 1.4s;
    background-color: rgb(112, 178, 178);
}

.container div span:nth-child(9) {
    animation-delay: 1.6s;
}

.container div span:nth-child(10) {
    animation-delay: 1.8s;
    background-color: rgb(112, 178, 178);
}

@keyframes animate {
    0% {
        transform: rotateX(0deg);
    }
    100% {
        transform: rotateX(360deg);
    }
}

@keyframes colorChange {
    
    100% {
        background: rgb(248, 132, 80);
    }
}